# utils/requirements.txt
pyinstaller
uvicorn
asgiref
pyinstaller-hooks-contrib
sqlalchemy
build
werkzeug
esprima
pyjsparser
jsmin
sqlparse
standard-imghdr
databricks-sql-connector
psycopg2
mysql-connector
pymssql 
duckdb
oracledb
